#include "water_ripple.h"

LOGO BITMAP DISCARDABLE "LOGO.bmp"
MYICON ICON DISCARDABLE "favicon.ico"

IDD_WATER_RIPPLE DIALOGEX 0,0,200, 110
CAPTION "Water Ripple Demo"
FONT 8,"MS Sans Serif"
STYLE 0x10cc0000
EXSTYLE 0x00000000
BEGIN
	CONTROL "",LOGO,"Static",0x1080020e,0,0,0,0,0x00000000
END

